<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<title>Ver Exame Realizado</title>
</head>

<body style="background-color: #afddfa">
	<div class="container mt-5">
		<div class="card-header" style="background-color: #50b4f2">
			<h1>Ver Exame Realizado</h1>
			<p>Aqui são exibidas as informações de um exame realizado por um funcionário</p>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<p><strong>ID Funcionário:</strong> <span th:text="${exameRealizado.funcionario.id}"></span></p>
					<p><strong>Nome do Funcionário:</strong> <span th:text="${exameRealizado.funcionario.nome}"></span></p>
				</div>
				<div class="col-md-6">
					<p><strong>ID Exame:</strong> <span th:text="${exameRealizado.exame.id}"></span></p>
					<p><strong>Nome do Exame:</strong> <span th:text="${exameRealizado.exame.nome}"></span></p>
				</div>
			</div>
			<p><strong>Data de Realização:</strong> <span th:text="${exameRealizado.dataDeRealizacao}"></span></p>
			<a class="btn btn-secondary" th:href="@{/listar-examesRealizados}">Voltar</a>
		</div>
	</div>
</body>

</html>